*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


/* NAVBAR */
.cntr {
    display: flex;
    width: 100%;
    height: auto;
    background-color: white;
    box-shadow: 5px 5px 5px gray;
}

.logo {
    width: 60%;
    padding-top: 15px;
}

.menu-navbar{
    font-size: 15px;
    padding: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}

.item-navbar{
    display: flex;
    padding-right: 4rem;
    float: left;
    white-space: nowrap;
}

.menu-navbar .test:hover{
    border-bottom: 2px solid #38abab;
    transition: 0.5s;
}

.button-drop{
    background-color: white;
    color: black;
    border: none;
    font-size: 15px;
    font-weight: bold;
}

.konten-dropdown{
    display: none;
    position: absolute;
    min-width: 90px;
    z-index: 1;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.dropdown{
    position: relative;
    /* display: inline-block; */
}

.konten-dropdown a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.konten-dropdown a:hover{
    color: #38abab;
    transition: 0.5s;
}

.dropdown:hover .konten-dropdown{
    display: block;
}

.hamburger{
    display: none;
    font-size: 25px;
}

/* TEXT LOGIN DI NAVBAR */
.nav-login{
    padding: 15px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    background-color: #38abab;
}

.tx-login{
    color: white;
}


/* ISI */
.konten .home-bgr{
    width: 100%;
    filter: brightness(30%);
}

.konten{
    position: relative;
    text-align: center;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
}

.center h1{
    white-space: nowrap;
}

.center p{
    margin-bottom: 50px;
    white-space: nowrap;
    font-weight: normal;
    opacity: 0.6;
}

.center button{
    position: relative;
    padding: 15px;
    padding-right: 30px;
    padding-left: 30px;
    border: none;
    background-color: #38abab;
}

.center a{
    color: white;
    font-size: 15px;
}


/* PRODUCTS */
.gallery{
    display: flex;
    margin: 50px 0;
}

.container-product{
    width: 100%;
    text-align: center;
}

/* BEST SELLING */
.best1{
    background-color: yellow;
    width: fit-content;
    padding: 10px;
}

h3{
    text-align: left;
    font-size: 20px;
    margin: 0;
}

.product-content{
    width: 27%;
    margin: 40px;
    float: left;
    border-radius: 10px;
    cursor: pointer;
    padding-top: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: 0.7s;
    background: white;
}

.product-content-2{
    width: 27%;
    max-height: 75%;
    margin: 40px;
    float: left;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: 0.7s;
    background: white;
    padding: 57.5px 10px 15px 10px;
}

.desc{
    padding: 10px;
}

.desc-1{
    padding: 10px 20px 15px 20px;
}

.product-content p{
    text-align: left;
}

.product-content-2 p{
    text-align: left;
}

.product-content:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
}

#product-img{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}


/* ABOUT US */
.container-aboutus{
    margin: 0 10px;
    padding: 60px 20px;
    text-align: center;
    font-size: 20px;
}

.aboutus-img{
    text-align: center;
    margin: 30px;
}

.container-aboutus h1{
    text-align: center;
    color: black;
    font-weight: bold;
}

.container-aboutus p{
    text-align: justify;
    padding: 3px;
    color: black;
}

.container-contactus{
    text-align: left;
}


/* LOGIN AND REGIST FORM */
/* REGISTER FORM */
.container-regist{
    text-align: center;
    padding: 50px;
    box-shadow: 0 10px 20px black;
}

.gender-title{
    position: relative;
    text-align: left;
    height: 45px;
    align-items: center;
    padding-left: 25%;
    padding-right: 25%;
    margin-top: 50px;
}

.city-title{
    position: relative;
    text-align: left;
    height: 45px;
    align-items: center;
    padding-left: 25%;
    padding-right: 25%;
    margin-bottom: 10px;
    margin-top: 25px;
}

.city-title select{
    width: 100%;
    padding: 5px;
}

.container-regist a{
    color: #38abab;
}

/* LOGIN FORM */
.container-login{
    text-align: center;
    padding: 50px;
    box-shadow: 0 10px 20px black;
}

.login1{
    padding: 10px;
}

.login1 #input{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    color: white;
    background-color: #38abab;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container-login a{
    color: #38abab;
}

.login-text{
    position: relative;
    text-align: center;
    height: 45px;
    width: 50%;
    margin-bottom: 30px;
    white-space: nowrap;
}

.itext{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    padding: 0 20px;
    border: none;
    border-bottom: 2px solid black;
    font-size: 16px;
    outline: none;
    background: none;
    z-index: 1;
    outline: 0;
}

.text-label{
    position: absolute;
    top: 80%;
    left: 50%;
    padding: 0 4px;
    background-color: white;
    color: black;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
}

.itext:focus + .text-label{
    top: 30%;
    left: 50%;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: #38abab;
}

.itext:not(:placeholder-shown)+ .text-label {
    top: 30%;
    left: 50%;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: #38abab;
}

::placeholder{
    color: transparent;
}


/* FOOTER */
.content-ftr{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: 5px 5px 5px inset grey;
}

.content-ftr i{
    padding: 10px;
    font-size: 25px;
}

.content-ftr p{
    padding: 10px;
}

.content-ftr button{
    border: none;
    cursor: pointer;
}

footer{
    margin-top: auto;
}

/* RESPONSIVE */
@media only screen and (max-width: 600px) {
    .nav-login{
        padding: 0px;
        border: none;
        border-radius: 25px;
        font-weight: bold;
        font-size: 15px;
        background-color: #38abab;
    }

    .logo{
        width: 90%;
    }

    .button-drop{
        background-color: #38abab;
        color: white;
    }

    a{
        color: white;
    }

    .home:hover{
        border-bottom: 2px solid white;
    }

    .hamburger{
        padding-top: 25px;
    }

    .menu-navbar {
        position: fixed;
        left: 0%;
        top: 5rem;
        flex-direction: column;
        background-color: #38abab;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 3;
        display: none;
        height: 57%;
    }

    .menu-navbar.active {
        left: 0;
        display: flex;
    }

    .item-navbar {
        float: none;
        margin: 20px 0;
    }

    .item-navhar:hover{
        text-decoration: none;
        color: black;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .center{
        font-size: 15px; 
    }

    .gallery{
        width: 150%;
    }
}